{% extends "base.html" %} 
{% load static %}
 
{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/index.css' %}">
  <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
  <link rel="stylesheet" href="{% static 'blog/post.css' %}">
  
{% endblock css_files %}

{% block title %}
  My Blog
{% endblock title %}

{% block content %}
    <section id="welcome">
      <header>
        <img src="{% static 'blog/images/logo.png' %}" alt="Rohail The Author of thig Blog">
        <h2> Rohail's Blog</h2>
      </header>
      <p>I am Rohail, I love to blog about tech and the world</p>
    </section>
    <section id="latest-posts">
      <h2>My latest Thoughts</h2>
      <ul>
        {% for post in posts  %}
        {% include 'blog/includes/post.html'  %}
        {% endfor %}
      </ul>
    </section>
    <section id="about">
      <h2>What I Do</h2>
      <p>New Tech aweesome</p>
      <p>Goal to be the best</p>
    </section>
{% endblock content %}